Spark版本为2.0.0,Python版本为3.5.2,Jupyter notebook server版本为4.2.1

<a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License</a>.
<img src="http://spark-mooc.github.io/web-assets/images/ta_Spark-logo-small.png">
<img src="http://spark-mooc.github.io/web-assets/images/python-logo-master-v3-TM-flattened_small.png">
<h1>Spark Tutorial: Learning Apache Spark</h1>
<p>This tutorial will teach you how to use [Apache Spark](http://spark.apache.org/), a framework for large-scale data processing, within a notebook. Many traditional frameworks were designed to be run on a single computer.  However, many datasets today are too large to be stored on a single computer, and even when a dataset can be stored on one computer (such as the datasets in this tutorial), the dataset can often be processed much more quickly using multiple computers.</p>
<p>Spark has efficient implementations of a number of <em>transformations</em> and <em>actions</em> that can be composed together to perform data processing and analysis.  Spark excels at(在某一活动方面表现杰出，擅长于某项活动) distributing these operations across a cluster while(同时) abstracting away(抽象) many of the underlying implementation details(底层的实现细节).  Spark has been designed with a focus on scalability and efficiency.  With Spark you can begin developing your solution on your laptop, using a small dataset, and then use that same code to process terabytes or even petabytes across a distributed cluster.</p>
<p>During this tutorial we will cover:
<ul>
<li>Part 1:Basic notebook usage and [Python](https://docs.python.org/2/) integration</li>
<li>Part 2:An introduction to using [Apache Spark](https://spark.apache.org/) with the [PySpark SQL API](http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark-sql-module) running in a notebook</li>
<li>Part 3:Using DataFrames and chaining together transformations and actions</li>
<li>Part 4:Python Lambda functions and User Defined Functions</li>
<li>Part 5:Additional DataFrame actions</li>
<li>Part 6:Additional DataFrame transformations</li>
<li>Part 7:Caching DataFrames and storage options</li>
<li>Part 8:Debugging Spark applications and lazy evaluation</li>
</ul></p>
<p>The following transformations will be covered:
<ul><li><strong>select(), filter(), distinct(), dropDuplicates(), orderBy(), groupBy()</strong></li></ul></p>
<p>The following actions will be covered:
<ul><li><strong>first(), take(), count(), collect(), show()</strong></li></ul></p>
<p>Also covered:
<ul><li><strong>cache(), unpersist()</strong></li></ul></p>
<p>Note that, for reference, you can look up the details of these methods in the [Spark's PySpark SQL API](http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark-sql-module).</p>
<h2>Part 1: Basic notebook usage and [Python](https://docs.python.org/2/) integration</h2>
<h3>(1a) Notebook usage</h3>
<p>A notebook is comprised of a linear sequence of cells.  These cells can contain either <em>markdown</em> or <em>code</em>, but we won't mix both in one cell.  When a markdown cell is executed it renders formatted text, images, and links just like HTML in a normal webpage.  The text you are reading right now is part of a markdown cell.  <em>Python code</em> cells allow you to execute arbitrary Python commands just like in any Python shell. Place your cursor inside the cell below, and press <strong>"Shift" + "Enter"</strong> to execute the code and advance to the next cell.  You can also press <strong>"Ctrl" + "Enter"</strong> to execute the code and remain in the cell.  These commands work the same in both markdown and code cells.</p>

In [1]:
# This is a Python cell. You can run normal Python code here...
print('The sum of 1 and 1 is {0}'.format(1+1))

The sum of 1 and 1 is 2

In [2]:
# Here is another Python cell, this time with a variable (x) declaration and an if statement:
x = 42
if x > 40:
    print ('The sum of 1 and 2 is {0}'.format(1+2))

The sum of 1 and 2 is 3

<h3>(1b) Notebook state</h3>
<p>As you work through a notebook it is important that you run all of the code cells.  The notebook is stateful(有状态的), which means that variables and their values are retained until the kernel is restarted  in Jupyter notebooks.  If you do not run all of the code cells as you proceed through the notebook, your variables will not be properly initialized and later code might fail.  You will also need to rerun any cells that you have modified in order for the changes to be available to other cells.</p>

In [4]:
# This cell relies on x being defined already.
# If we didn't run the cells from part (1a) this code would fail.
print (x * 2)

84

<h2>(1c) Library imports</h2>
<p>We can import standard Python libraries ([modules](https://docs.python.org/2/tutorial/modules.html)) the usual way.  An `import` statement will import the specified module.  In this tutorial and future labs, we will provide any imports that are necessary.</p>

In [5]:
# Import the regular expression library
import re
m = re.search('(?<=abc)def', 'abcdef')
m.group(0)

'def'

**(?:pattern)**<br/>
&emsp;&emsp;匹配pattern但不获取匹配结果，也就是说这是一个非获取匹配，不进行存储供以后使用。这在使用或字符“(|)”来组合一个模式的各个部分是很有用的。例如“industr(?:y|ies)”就是一个比“industry|industries”更简略的表达式。<br/>
**(?=pattern)**<br/>
&emsp;&emsp;正向肯定预查，在任何匹配pattern的字符串开始处匹配查找字符串。这是一个非获取匹配，也就是说，该匹配不需要获取供以后使用。例如，“Windows（?=95|98|NT|2000）”能匹配“Windows2000”中的“Windows”，但不能匹配“Windows3.1”中的“Windows”。预查不消耗字符，也就是说，在一个匹配发生后，在最后一次匹配之后立即开始下一次匹配的搜索，而不是从包含预查的字符之后开始。<br/>
**(?!pattern)**<br/>
&emsp;&emsp;正向否定预查，在任何不匹配pattern的字符串开始处匹配查找字符串。这是一个非获取匹配，也就是说，该匹配不需要获取供以后使用。例如“Windows（?！95|98|NT|2000）”能匹配“Windows3.1”中的“Windows”，但不能匹配“Windows2000”中的“Windows”。<br/>
**(?<=pattern)**<br/>
&emsp;&emsp;反向肯定预查，与正向肯定预查类似，只是方向相反。例如，“（?<=95|98|NT|2000）Windows”能匹配“2000Windows”中的“Windows”，但不能匹配“3.1Windows”中的“Windows”。<br/>
**(?<!pattern)**<br/>
&emsp;&emsp;反向否定预查，与正向否定预查类似，只是方向相反。例如“(?<!95|98|NT|2000)Windows”能匹配“3.1Windows”中的“Windows”，但不能匹配“2000Windows”中的“Windows”。<br/>

In [7]:
# Import the datetime library
import datetime
print ('This was last run on: {0}'.format(datetime.datetime.now()))

This was last run on: 2016-09-27 13:08:04.743394

<h1>Part 2: An introduction to using [Apache Spark](https://spark.apache.org/) with the [PySpark SQL API](http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark-sql-module) running in a notebook</h1>
<h2>Spark Context</h2>
<p>In Spark, communication occurs between a `driver` and `executors`.  The `driver` has Spark jobs that it needs to run and these jobs are split into tasks that are submitted to the `executors` for completion.  The results from these tasks are delivered back to the `driver`.</p>
<p>In part 1, we saw that normal Python code can be executed via cells. When using `Databricks` this code gets executed in the Spark driver's Java Virtual Machine (JVM) and not in an executor's JVM, and when using an `Jupyter notebook` it is executed within the kernel associated with the notebook. Since no Spark functionality is actually being used, no tasks are launched on the executors.</p>
<p>In order to use Spark and its DataFrame API we will need to use a `SQLContext`.  When running Spark, you start a new Spark application by creating a [SparkContext](http://spark.apache.org/docs/latest/api/python/pyspark.html#pyspark.SparkContext). You can then create a [SQLContext](http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.SQLContext) from the `SparkContext`. When the `SparkContext` is created, it asks the master for some cores to use to do work.  The master sets these cores aside just for you; they won't be used for other applications. When using Databricks, both a `SparkContext` and a `SQLContext` are created for you automatically. `sc` is your `SparkContext`, and `sqlContext` is your `SQLContext`.</p>
<h3>(2a) Example Cluster</h3>
<p>The diagram shows an example cluster, where the slots allocated for an application are outlined in purple(紫色的). (Note: We're using the term _slots_ here to indicate threads available to perform parallel work for Spark.</p>
<p>Spark documentation often refers to these threads as _cores_, which is a confusing term, as the number of slots available on a particular machine does not necessarily have any relationship to the number of physical CPU
cores on that machine.)</p>
<img src="http://spark-mooc.github.io/web-assets/images/cs105x/diagram-2a.png" style="height: 800px;float: right"/>
<p>You can view the details of your Spark application in the Spark web UI.  The web UI is accessible in Databricks by going to "Clusters" and then clicking on the "Spark UI" link for your cluster.  In the web UI, under the "Jobs" tab, you can see a list of jobs that have been scheduled or run.  It's likely there isn't any thing interesting here yet because we haven't run any jobs, but we'll return to this page later.</p>
<p>At a high level, every Spark application consists of a `driver program` that launches various parallel operations on executor Java Virtual Machines (JVMs) running either in a cluster or locally on the same machine. In Databricks, "Databricks Shell" is the driver program.  When running locally, `pyspark` is the driver program. In all cases, this driver program contains the main loop for the program and creates distributed datasets on the cluster, then applies operations (transformations & actions) to those datasets.
<strong>Driver programs access Spark through a SparkContext object, which represents a connection to a computing cluster.</strong>A Spark SQL context object (`sqlContext`) is the main entry point for Spark DataFrame and SQL functionality. A `SQLContext` can be used to create DataFrames, which allows you to direct the operations on your data.</p>
<p>Try printing out `sqlContext` to see its type.</p>

In [8]:
# Display the type of the Spark sqlContext
type(sqlContext)

pyspark.sql.context.SQLContext

Note that the type is `HiveContext`. This means we're working with a version of Spark that has Hive support. Compiling Spark with Hive support is a good idea, even if you don't have a Hive metastore. As the
[Spark Programming Guide](http://spark.apache.org/docs/latest/sql-programming-guide.html#starting-point-sqlcontext) states, a `HiveContext` "provides a superset(超集) of the functionality provided by the basic `SQLContext`. Additional features include the ability to write queries using the more complete HiveQL parser, access to Hive UDFs [user-defined functions], and the ability to read data from Hive tables. To use a `HiveContext`, you do not need to have an existing Hive setup, and all of the data sources available to a `SQLContext` are still available."
<h3>(2b) SparkContext attributes</h3>
<p>You can use Python's [dir()](https://docs.python.org/2/library/functions.html?highlight=dir#dir) function to get a list of all the attributes (including methods) accessible through the `sqlContext` object.</p>

In [9]:
# List sqlContext's attributes
dir(sqlContext)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_inferSchema',
 '_instantiatedContext',
 '_jsc',
 '_jsqlContext',
 '_jvm',
 '_sc',
 '_ssql_ctx',
 'cacheTable',
 'clearCache',
 'createDataFrame',
 'createExternalTable',
 'dropTempTable',
 'getConf',
 'getOrCreate',
 'newSession',
 'range',
 'read',
 'readStream',
 'registerDataFrameAsTable',
 'registerFunction',
 'setConf',
 'sparkSession',
 'sql',
 'streams',
 'table',
 'tableNames',
 'tables',
 'udf',
 'uncacheTable']

<p>Outside of `pyspark` or a notebook, `SQLContext` is created from the lower-level `SparkContext`, which is usually used to create Resilient Distributed Datasets (RDDs). An RDD is the way Spark actually represents data internally(内部地); DataFrames are actually implemented in terms of RDDs.</p>
<p>**While you can interact directly with RDDs, DataFrames are preferred.** They're generally faster, and they perform the same no matter what language (Python, R, Scala or Java) you use with Spark.</p>
<p>**In this course, we'll be using DataFrames, so we won't be interacting directly with the Spark Context object very much.** However, it's worth knowing that inside `pyspark` or a notebook, you already have an existing `SparkContext` in the `sc` variable. One simple thing we can do with `sc` is check the version of Spark we're using:</p>

In [10]:
# After reading the help we've decided we want to use sc.version to see what version of Spark we are running
sc.version

'2.0.0'

通过python的platform模块获取版本号:

In [12]:
import platform
print(platform.python_version())

3.5.2

<h2>Part 3: Using DataFrames and chaining together transformations and actions</h2>
<h3>Working with your first DataFrames</h3>

In Spark, we first create a base [DataFrame](http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.DataFrame). We can then apply one or more transformations to that base DataFrame. **A DataFrame is immutable(不可变的), so once it is created, it cannot be changed. As a result(因此), each transformation creates a new DataFrame.** Finally, we can apply one or more actions to the DataFrames.

> Note that Spark uses <em>lazy evaluation</em>, so transformations are not actually executed until an action occurs.

We will perform several exercises to obtain a better understanding of DataFrames:
* Create a Python collection of 10,000 integers
* Create a Spark DataFrame from that collection
* Subtract(减去) one from each value using `map`
* Perform action `collect` to view results
* Perform action `count` to view counts
* Apply transformation `filter` and view results with `collect`
* Learn about `lambda` functions
* Explore how lazy evaluation works and the debugging challenges that it introduces

A DataFrame consists of a series of **`Row`** objects; each **`Row`** object has a set of named columns. You can think of a DataFrame as modeling a table, though the data source being processed does not have to be a table.

More formally(更正式一点的说法是), a DataFrame must have a **_schema_**, which means it must consist of columns, each of which has a _name_ and a _type_. Some data sources have schemas built into them. Examples include RDBMS databases, Parquet files, and NoSQL databases like Cassandra. Other data sources don't have computer-readable schemas, but you can often apply a schema programmatically.
<h3>(3a) Create a Python collection of 10,000 people</h3>
<p>We will use a third-party Python testing library called [fake-factory](https://pypi.python.org/pypi/fake-factory/0.5.3) to create a collection of fake(伪造的) person records.
When using Faker for unit testing, you will often want to generate the same data set. The generator offers a seed() method, which seeds(设置随机种子发生器) the _random number generator_(随机数发生器). Calling the same script twice with the same seed produces the same results.</p>

Faker是一个可以让你生成伪造数据的Python包。当你需要初始化数据库，创建美观的XML文档，不断产生数据来进行压力测试或者想从生产服务器上拉取匿名数据的时候，Faker将是你最棒的选择。

可以使用pip进行安装:
>pip install fake-factory

In [14]:
from faker import Factory
fake = Factory.create()
fake.seed(4321)

We're going to use this factory to create a collection of randomly generated people records. In the next section, we'll turn that collection into a DataFrame. We'll use the Spark `Row` class, because that will help us define the Spark DataFrame schema. There are other ways to define schemas, though; see the Spark Programming Guide's discussion of [schema inference](http://spark.apache.org/docs/latest/sql-programming-guide.html#inferring-the-schema-using-reflection) for more information. (For instance,we could also use a Python `namedtuple`.)

In [15]:
# Each entry(记录) consists of last_name, first_name, ssn(身份证号), job, and age (at least 1)
from pyspark.sql import Row
def fake_entry():
  #type(fake.name()) --> unicode
  #S.split([sep [,maxsplit]]) -> list of strings(If sep is not specified or is None, any whitespace string is a separator)
  name = fake.name().split()
  return (name[1], name[0], fake.ssn(), fake.job(), abs(2016 - fake.date_time().year) + 1)

In [18]:
# Create a helper function to call a function repeatedly
def repeat(times, func, *args, **kwargs):
    for _ in range(times):
        yield func(*args, **kwargs)

In [19]:
data = list(repeat(10000, fake_entry))

`data` is just a normal Python list, containing Python tuples objects. Let's look at the first item in the list:

In [20]:
data[0]

('Brown', 'Jason', '182-83-5988', 'Community education officer', 2)

We can check the size of the list using the Python `len()` function.

In [21]:
len(data)

10000

<h3>(3b) Distributed data and using a collection to create a DataFrame</h3>

In Spark, datasets are represented as a list of entries, where the list is broken up into many different partitions that are each stored on a different machine.  Each partition holds a unique(唯一的)subset of the entries in the list.  Spark calls datasets that it stores "Resilient Distributed Datasets" (RDDs). Even DataFrames are ultimately(最终)represented as RDDs, with additional meta-data(元数据是用来描述数据的数据.(Data that describes other data)元数据最大的好处是，它使信息的描述和分类可以实现格式化，从而为机器处理创造了可能.)

<img src="http://spark-mooc.github.io/web-assets/images/cs105x/diagram-3b.png" style="width: 900px; float: right; margin: 5px"/>

One of the defining features(定义性特征,本质特征) of Spark, compared to other data analytics frameworks (e.g., Hadoop), is that _**it stores data in memory rather than on disk**_.  This allows Spark applications to run much more quickly, because they are not slowed down by needing to read data from disk.
The figure to the right illustrates how Spark breaks a list of data entries into partitions that are each stored in memory on a worker.


To create the DataFrame, we'll use `sqlContext.createDataFrame()`, and we'll pass our array of data in as an argument to that function. Spark will create a new set of input data based on data that is passed in.  A DataFrame requires a _**schema**_, which is a list of columns, where each column has a name and a type. Our list of data has elements with types (mostly strings, but one integer). We'll supply the rest of the schema and the column names as the second argument to `createDataFrame()`.

Let's view the help for `createDataFrame()`.

In [22]:
help(sqlContext.createDataFrame)

Help on method createDataFrame in module pyspark.sql.context:

createDataFrame(data, schema=None, samplingRatio=None) method of pyspark.sql.context.SQLContext instance
    Creates a :class:`DataFrame` from an :class:`RDD`, a list or a :class:`pandas.DataFrame`.

    When ``schema`` is a list of column names, the type of each column
    will be inferred from ``data``.

    When ``schema`` is ``None``, it will try to infer the schema (column names and types)
    from ``data``, which should be an RDD of :class:`Row`,
    or :class:`namedtuple`, or :class:`dict`.

    When ``schema`` is :class:`DataType` or datatype string, it must match the real data, or
    exception will be thrown at runtime. If the given schema is not StructType, it will be
    wrapped into a StructType as its only field, and the field name will be "value", each record
    will also be wrapped into a tuple, which can be converted to row later.

    If schema inference is needed, ``samplingRatio`` is used to determined the ratio of
    rows used for schema inference. The first row will be used if ``samplingRatio`` is ``None``.

    :param data: an RDD of any kind of SQL data representation(e.g. row, tuple, int, boolean,
        etc.), or :class:`list`, or :class:`pandas.DataFrame`.
    :param schema: a :class:`DataType` or a datatype string or a list of column names, default
        is None.  The data type string format equals to `DataType.simpleString`, except that
        top level struct type can omit the `struct<>` and atomic types use `typeName()` as
        their format, e.g. use `byte` instead of `tinyint` for ByteType. We can also use `int`
        as a short name for IntegerType.
    :param samplingRatio: the sample ratio of rows used for inferring
    :return: :class:`DataFrame`

    .. versionchanged:: 2.0
       The schema parameter can be a DataType or a datatype string after 2.0. If it's not a
       StructType, it will be wrapped into a StructType and each record will also be wrapped
       into a tuple.

    >>> l = [('Alice', 1)]
    >>> sqlContext.createDataFrame(l).collect()
    [Row(_1='Alice', _2=1)]
    >>> sqlContext.createDataFrame(l, ['name', 'age']).collect()
    [Row(name='Alice', age=1)]

    >>> d = [{'name': 'Alice', 'age': 1}]
    >>> sqlContext.createDataFrame(d).collect()
    [Row(age=1, name='Alice')]

    >>> rdd = sc.parallelize(l)
    >>> sqlContext.createDataFrame(rdd).collect()
    [Row(_1='Alice', _2=1)]
    >>> df = sqlContext.createDataFrame(rdd, ['name', 'age'])
    >>> df.collect()
    [Row(name='Alice', age=1)]

    >>> from pyspark.sql import Row
    >>> Person = Row('name', 'age')
    >>> person = rdd.map(lambda r: Person(*r))
    >>> df2 = sqlContext.createDataFrame(person)
    >>> df2.collect()
    [Row(name='Alice', age=1)]

    >>> from pyspark.sql.types import *
    >>> schema = StructType([
    ...    StructField("name", StringType(), True),
    ...    StructField("age", IntegerType(), True)])
    >>> df3 = sqlContext.createDataFrame(rdd, schema)
    >>> df3.collect()
    [Row(name='Alice', age=1)]

    >>> sqlContext.createDataFrame(df.toPandas()).collect()  # doctest: +SKIP
    [Row(name='Alice', age=1)]
    >>> sqlContext.createDataFrame(pandas.DataFrame([[1, 2]])).collect()  # doctest: +SKIP
    [Row(0=1, 1=2)]

    >>> sqlContext.createDataFrame(rdd, "a: string, b: int").collect()
    [Row(a='Alice', b=1)]
    >>> rdd = rdd.map(lambda row: row[1])
    >>> sqlContext.createDataFrame(rdd, "int").collect()
    [Row(value=1)]
    >>> sqlContext.createDataFrame(rdd, "boolean").collect() # doctest: +IGNORE_EXCEPTION_DETAIL
    Traceback (most recent call last):
        ...
    Py4JJavaError: ...

    .. versionadded:: 1.3

In [23]:
dataDF = sqlContext.createDataFrame(data, ('last_name', 'first_name', 'ssn', 'occupation', 'age'))

Let's see what type `sqlContext.createDataFrame()` returned.

In [24]:
print ('type of dataDF: {0}'.format(type(dataDF)))

type of dataDF: <class 'pyspark.sql.dataframe.DataFrame'>

Let's take a look at the DataFrame's schema and some of its rows.

In [25]:
dataDF.printSchema()

root
 |-- last_name: string (nullable = true)
 |-- first_name: string (nullable = true)
 |-- ssn: string (nullable = true)
 |-- occupation: string (nullable = true)
 |-- age: long (nullable = true)

We can register the newly created DataFrame as a named table, using the `registerDataFrameAsTable()` method.

In [26]:
sqlContext.registerDataFrameAsTable(dataDF, 'dataframe')

What methods can we call on this DataFrame?

In [27]:
help(dataDF)

Help on DataFrame in module pyspark.sql.dataframe object:

class DataFrame(builtins.object)
 |  A distributed collection of data grouped into named columns.
 |
 |  A :class:`DataFrame` is equivalent to a relational table in Spark SQL,
 |  and can be created using various functions in :class:`SQLContext`::
 |
 |      people = sqlContext.read.parquet("...")
 |
 |  Once created, it can be manipulated using the various domain-specific-language
 |  (DSL) functions defined in: :class:`DataFrame`, :class:`Column`.
 |
 |  To select a column from the data frame, use the apply method::
 |
 |      ageCol = people.age
 |
 |  A more concrete example::
 |
 |      # To create DataFrame using SQLContext
 |      people = sqlContext.read.parquet("...")
 |      department = sqlContext.read.parquet("...")
 |
 |      people.filter(people.age > 30).join(department, people.deptId == department.id)          .groupBy(department.name, "gender").agg({"salary": "avg", "age": "max"})
 |
 |  .. versionadded:: 1.3
 |
 |  Methods defined here:
 |
 |  __getattr__(self, name)
 |      Returns the :class:`Column` denoted by ``name``.
 |
 |      >>> df.select(df.age).collect()
 |      [Row(age=2), Row(age=5)]
 |
 |      .. versionadded:: 1.3
 |
 |  __getitem__(self, item)
 |      Returns the column as a :class:`Column`.
 |
 |      >>> df.select(df['age']).collect()
 |      [Row(age=2), Row(age=5)]
 |      >>> df[ ["name", "age"]].collect()
 |      [Row(name='Alice', age=2), Row(name='Bob', age=5)]
 |      >>> df[ df.age > 3 ].collect()
 |      [Row(age=5, name='Bob')]
 |      >>> df[df[0] > 3].collect()
 |      [Row(age=5, name='Bob')]
 |
 |      .. versionadded:: 1.3
 |
 |  __init__(self, jdf, sql_ctx)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __repr__(self)
 |      Return repr(self).
 |
 |  agg(self, *exprs)
 |      Aggregate on the entire :class:`DataFrame` without groups
 |      (shorthand for ``df.groupBy.agg()``).
 |
 |      >>> df.agg({"age": "max"}).collect()
 |      [Row(max(age)=5)]
 |      >>> from pyspark.sql import functions as F
 |      >>> df.agg(F.min(df.age)).collect()
 |      [Row(min(age)=2)]
 |
 |      .. versionadded:: 1.3
 |
 |  alias(self, alias)
 |      Returns a new :class:`DataFrame` with an alias set.
 |
 |      >>> from pyspark.sql.functions import *
 |      >>> df_as1 = df.alias("df_as1")
 |      >>> df_as2 = df.alias("df_as2")
 |      >>> joined_df = df_as1.join(df_as2, col("df_as1.name") == col("df_as2.name"), 'inner')
 |      >>> joined_df.select("df_as1.name", "df_as2.name", "df_as2.age").collect()
 |      [Row(name='Bob', name='Bob', age=5), Row(name='Alice', name='Alice', age=2)]
 |
 |      .. versionadded:: 1.3
 |
 |  approxQuantile(self, col, probabilities, relativeError)
 |      Calculates the approximate quantiles of a numerical column of a
 |      DataFrame.
 |
 |      The result of this algorithm has the following deterministic bound:
 |      If the DataFrame has N elements and if we request the quantile at
 |      probability `p` up to error `err`, then the algorithm will return
 |      a sample `x` from the DataFrame so that the *exact* rank of `x` is
 |      close to (p * N). More precisely,
 |
 |        floor((p - err) * N) <= rank(x) <= ceil((p + err) * N).
 |
 |      This method implements a variation of the Greenwald-Khanna
 |      algorithm (with some speed optimizations). The algorithm was first
 |      present in [[http://dx.doi.org/10.1145/375663.375670
 |      Space-efficient Online Computation of Quantile Summaries]]
 |      by Greenwald and Khanna.
 |
 |      :param col: the name of the numerical column
 |      :param probabilities: a list of quantile probabilities
 |        Each number must belong to [0, 1].
 |        For example 0 is the minimum, 0.5 is the median, 1 is the maximum.
 |      :param relativeError:  The relative target precision to achieve
 |        (>= 0). If set to zero, the exact quantiles are computed, which
 |        could be very expensive. Note that values greater than 1 are
 |        accepted but give the same result as 1.
 |      :return:  the approximate quantiles at the given probabilities
 |
 |      .. versionadded:: 2.0
 |
 |  cache(self)
 |      Persists with the default storage level (C{MEMORY_ONLY}).
 |
 |      .. versionadded:: 1.3
 |
 |  coalesce(self, numPartitions)
 |      Returns a new :class:`DataFrame` that has exactly `numPartitions` partitions.
 |
 |      Similar to coalesce defined on an :class:`RDD`, this operation results in a
 |      narrow dependency, e.g. if you go from 1000 partitions to 100 partitions,
 |      there will not be a shuffle, instead each of the 100 new partitions will
 |      claim 10 of the current partitions.
 |
 |      >>> df.coalesce(1).rdd.getNumPartitions()
 |      1
 |
 |      .. versionadded:: 1.4
 |
 |  collect(self)
 |      Returns all the records as a list of :class:`Row`.
 |
 |      >>> df.collect()
 |      [Row(age=2, name='Alice'), Row(age=5, name='Bob')]
 |
 |      .. versionadded:: 1.3
 |
 |  corr(self, col1, col2, method=None)
 |      Calculates the correlation of two columns of a DataFrame as a double value.
 |      Currently only supports the Pearson Correlation Coefficient.
 |      :func:`DataFrame.corr` and :func:`DataFrameStatFunctions.corr` are aliases of each other.
 |
 |      :param col1: The name of the first column
 |      :param col2: The name of the second column
 |      :param method: The correlation method. Currently only supports "pearson"
 |
 |      .. versionadded:: 1.4
 |
 |  count(self)
 |      Returns the number of rows in this :class:`DataFrame`.
 |
 |      >>> df.count()
 |      2
 |
 |      .. versionadded:: 1.3
 |
 |  cov(self, col1, col2)
 |      Calculate the sample covariance for the given columns, specified by their names, as a
 |      double value. :func:`DataFrame.cov` and :func:`DataFrameStatFunctions.cov` are aliases.
 |
 |      :param col1: The name of the first column
 |      :param col2: The name of the second column
 |
 |      .. versionadded:: 1.4
 |
 |  createOrReplaceTempView(self, name)
 |      Creates or replaces a temporary view with this DataFrame.
 |
 |      The lifetime of this temporary table is tied to the :class:`SparkSession`
 |      that was used to create this :class:`DataFrame`.
 |
 |      >>> df.createOrReplaceTempView("people")
 |      >>> df2 = df.filter(df.age > 3)
 |      >>> df2.createOrReplaceTempView("people")
 |      >>> df3 = spark.sql("select * from people")
 |      >>> sorted(df3.collect()) == sorted(df2.collect())
 |      True
 |      >>> spark.catalog.dropTempView("people")
 |
 |      .. versionadded:: 2.0
 |
 |  createTempView(self, name)
 |      Creates a temporary view with this DataFrame.
 |
 |      The lifetime of this temporary table is tied to the :class:`SparkSession`
 |      that was used to create this :class:`DataFrame`.
 |      throws :class:`TempTableAlreadyExistsException`, if the view name already exists in the
 |      catalog.
 |
 |      >>> df.createTempView("people")
 |      >>> df2 = spark.sql("select * from people")
 |      >>> sorted(df.collect()) == sorted(df2.collect())
 |      True
 |      >>> df.createTempView("people")  # doctest: +IGNORE_EXCEPTION_DETAIL
 |      Traceback (most recent call last):
 |      ...
 |      AnalysisException: u"Temporary table 'people' already exists;"
 |      >>> spark.catalog.dropTempView("people")
 |
 |      .. versionadded:: 2.0
 |
 |  crosstab(self, col1, col2)
 |      Computes a pair-wise frequency table of the given columns. Also known as a contingency
 |      table. The number of distinct values for each column should be less than 1e4. At most 1e6
 |      non-zero pair frequencies will be returned.
 |      The first column of each row will be the distinct values of `col1` and the column names
 |      will be the distinct values of `col2`. The name of the first column will be `$col1_$col2`.
 |      Pairs that have no occurrences will have zero as their counts.
 |      :func:`DataFrame.crosstab` and :func:`DataFrameStatFunctions.crosstab` are aliases.
 |
 |      :param col1: The name of the first column. Distinct items will make the first item of
 |          each row.
 |      :param col2: The name of the second column. Distinct items will make the column names
 |          of the DataFrame.
 |
 |      .. versionadded:: 1.4
 |
 |  cube(self, *cols)
 |      Create a multi-dimensional cube for the current :class:`DataFrame` using
 |      the specified columns, so we can run aggregation on them.
 |
 |      >>> df.cube("name", df.age).count().orderBy("name", "age").show()
 |      +-----+----+-----+
 |      | name| age|count|
 |      +-----+----+-----+
 |      | null|null|    2|
 |      | null|   2|    1|
 |      | null|   5|    1|
 |      |Alice|null|    1|
 |      |Alice|   2|    1|
 |      |  Bob|null|    1|
 |      |  Bob|   5|    1|
 |      +-----+----+-----+
 |
 |      .. versionadded:: 1.4
 |
 |  describe(self, *cols)
 |      Computes statistics for numeric columns.
 |
 |      This include count, mean, stddev, min, and max. If no columns are
 |      given, this function computes statistics for all numerical columns.
 |
 |      .. note:: This function is meant for exploratory data analysis, as we make no         guarantee about the backward compatibility of the schema of the resulting DataFrame.
 |
 |      >>> df.describe().show()
 |      +-------+------------------+
 |      |summary|               age|
 |      +-------+------------------+
 |      |  count|                 2|
 |      |   mean|               3.5|
 |      | stddev|2.1213203435596424|
 |      |    min|                 2|
 |      |    max|                 5|
 |      +-------+------------------+
 |      >>> df.describe(['age', 'name']).show()
 |      +-------+------------------+-----+
 |      |summary|               age| name|
 |      +-------+------------------+-----+
 |      |  count|                 2|    2|
 |      |   mean|               3.5| null|
 |      | stddev|2.1213203435596424| null|
 |      |    min|                 2|Alice|
 |      |    max|                 5|  Bob|
 |      +-------+------------------+-----+
 |
 |      .. versionadded:: 1.3.1
 |
 |  distinct(self)
 |      Returns a new :class:`DataFrame` containing the distinct rows in this :class:`DataFrame`.
 |
 |      >>> df.distinct().count()
 |      2
 |
 |      .. versionadded:: 1.3
 |
 |  drop(self, col)
 |      Returns a new :class:`DataFrame` that drops the specified column.
 |
 |      :param col: a string name of the column to drop, or a
 |          :class:`Column` to drop.
 |
 |      >>> df.drop('age').collect()
 |      [Row(name='Alice'), Row(name='Bob')]
 |
 |      >>> df.drop(df.age).collect()
 |      [Row(name='Alice'), Row(name='Bob')]
 |
 |      >>> df.join(df2, df.name == df2.name, 'inner').drop(df.name).collect()
 |      [Row(age=5, height=85, name='Bob')]
 |
 |      >>> df.join(df2, df.name == df2.name, 'inner').drop(df2.name).collect()
 |      [Row(age=5, name='Bob', height=85)]
 |
 |      .. versionadded:: 1.4
 |
 |  dropDuplicates(self, subset=None)
 |      Return a new :class:`DataFrame` with duplicate rows removed,
 |      optionally only considering certain columns.
 |
 |      :func:`drop_duplicates` is an alias for :func:`dropDuplicates`.
 |
 |      >>> from pyspark.sql import Row
 |      >>> df = sc.parallelize([ \
 |      ...     Row(name='Alice', age=5, height=80), \
 |      ...     Row(name='Alice', age=5, height=80), \
 |      ...     Row(name='Alice', age=10, height=80)]).toDF()
 |      >>> df.dropDuplicates().show()
 |      +---+------+-----+
 |      |age|height| name|
 |      +---+------+-----+
 |      |  5|    80|Alice|
 |      | 10|    80|Alice|
 |      +---+------+-----+
 |
 |      >>> df.dropDuplicates(['name', 'height']).show()
 |      +---+------+-----+
 |      |age|height| name|
 |      +---+------+-----+
 |      |  5|    80|Alice|
 |      +---+------+-----+
 |
 |      .. versionadded:: 1.4
 |
 |  drop_duplicates = dropDuplicates(self, subset=None)
 |      :func:`drop_duplicates` is an alias for :func:`dropDuplicates`.
 |
 |      .. versionadded:: 1.4
 |
 |  dropna(self, how='any', thresh=None, subset=None)
 |      Returns a new :class:`DataFrame` omitting rows with null values.
 |      :func:`DataFrame.dropna` and :func:`DataFrameNaFunctions.drop` are aliases of each other.
 |
 |      :param how: 'any' or 'all'.
 |          If 'any', drop a row if it contains any nulls.
 |          If 'all', drop a row only if all its values are null.
 |      :param thresh: int, default None
 |          If specified, drop rows that have less than `thresh` non-null values.
 |          This overwrites the `how` parameter.
 |      :param subset: optional list of column names to consider.
 |
 |      >>> df4.na.drop().show()
 |      +---+------+-----+
 |      |age|height| name|
 |      +---+------+-----+
 |      | 10|    80|Alice|
 |      +---+------+-----+
 |
 |      .. versionadded:: 1.3.1
 |
 |  explain(self, extended=False)
 |      Prints the (logical and physical) plans to the console for debugging purpose.
 |
 |      :param extended: boolean, default ``False``. If ``False``, prints only the physical plan.
 |
 |      >>> df.explain()
 |      == Physical Plan ==
 |      Scan ExistingRDD[age#0,name#1]
 |
 |      >>> df.explain(True)
 |      == Parsed Logical Plan ==
 |      ...
 |      == Analyzed Logical Plan ==
 |      ...
 |      == Optimized Logical Plan ==
 |      ...
 |      == Physical Plan ==
 |      ...
 |
 |      .. versionadded:: 1.3
 |
 |  fillna(self, value, subset=None)
 |      Replace null values, alias for ``na.fill()``.
 |      :func:`DataFrame.fillna` and :func:`DataFrameNaFunctions.fill` are aliases of each other.
 |
 |      :param value: int, long, float, string, or dict.
 |          Value to replace null values with.
 |          If the value is a dict, then `subset` is ignored and `value` must be a mapping
 |          from column name (string) to replacement value. The replacement value must be
 |          an int, long, float, or string.
 |      :param subset: optional list of column names to consider.
 |          Columns specified in subset that do not have matching data type are ignored.
 |          For example, if `value` is a string, and subset contains a non-string column,
 |          then the non-string column is simply ignored.
 |
 |      >>> df4.na.fill(50).show()
 |      +---+------+-----+
 |      |age|height| name|
 |      +---+------+-----+
 |      | 10|    80|Alice|
 |      |  5|    50|  Bob|
 |      | 50|    50|  Tom|
 |      | 50|    50| null|
 |      +---+------+-----+
 |
 |      >>> df4.na.fill({'age': 50, 'name': 'unknown'}).show()
 |      +---+------+-------+
 |      |age|height|   name|
 |      +---+------+-------+
 |      | 10|    80|  Alice|
 |      |  5|  null|    Bob|
 |      | 50|  null|    Tom|
 |      | 50|  null|unknown|
 |      +---+------+-------+
 |
 |      .. versionadded:: 1.3.1
 |
 |  filter(self, condition)
 |      Filters rows using the given condition.
 |
 |      :func:`where` is an alias for :func:`filter`.
 |
 |      :param condition: a :class:`Column` of :class:`types.BooleanType`
 |          or a string of SQL expression.
 |
 |      >>> df.filter(df.age > 3).collect()
 |      [Row(age=5, name='Bob')]
 |      >>> df.where(df.age == 2).collect()
 |      [Row(age=2, name='Alice')]
 |
 |      >>> df.filter("age > 3").collect()
 |      [Row(age=5, name='Bob')]
 |      >>> df.where("age = 2").collect()
 |      [Row(age=2, name='Alice')]
 |
 |      .. versionadded:: 1.3
 |
 |  first(self)
 |      Returns the first row as a :class:`Row`.
 |
 |      >>> df.first()
 |      Row(age=2, name='Alice')
 |
 |      .. versionadded:: 1.3
 |
 |  foreach(self, f)
 |      Applies the ``f`` function to all :class:`Row` of this :class:`DataFrame`.
 |
 |      This is a shorthand for ``df.rdd.foreach()``.
 |
 |      >>> def f(person):
 |      ...     print(person.name)
 |      >>> df.foreach(f)
 |
 |      .. versionadded:: 1.3
 |
 |  foreachPartition(self, f)
 |      Applies the ``f`` function to each partition of this :class:`DataFrame`.
 |
 |      This a shorthand for ``df.rdd.foreachPartition()``.
 |
 |      >>> def f(people):
 |      ...     for person in people:
 |      ...         print(person.name)
 |      >>> df.foreachPartition(f)
 |
 |      .. versionadded:: 1.3
 |
 |  freqItems(self, cols, support=None)
 |      Finding frequent items for columns, possibly with false positives. Using the
 |      frequent element count algorithm described in
 |      "http://dx.doi.org/10.1145/762471.762473, proposed by Karp, Schenker, and Papadimitriou".
 |      :func:`DataFrame.freqItems` and :func:`DataFrameStatFunctions.freqItems` are aliases.
 |
 |      .. note::  This function is meant for exploratory data analysis, as we make no         guarantee about the backward compatibility of the schema of the resulting DataFrame.
 |
 |      :param cols: Names of the columns to calculate frequent items for as a list or tuple of
 |          strings.
 |      :param support: The frequency with which to consider an item 'frequent'. Default is 1%.
 |          The support must be greater than 1e-4.
 |
 |      .. versionadded:: 1.4
 |
 |  groupBy(self, *cols)
 |      Groups the :class:`DataFrame` using the specified columns,
 |      so we can run aggregation on them. See :class:`GroupedData`
 |      for all the available aggregate functions.
 |
 |      :func:`groupby` is an alias for :func:`groupBy`.
 |
 |      :param cols: list of columns to group by.
 |          Each element should be a column name (string) or an expression (:class:`Column`).
 |
 |      >>> df.groupBy().avg().collect()
 |      [Row(avg(age)=3.5)]
 |      >>> sorted(df.groupBy('name').agg({'age': 'mean'}).collect())
 |      [Row(name='Alice', avg(age)=2.0), Row(name='Bob', avg(age)=5.0)]
 |      >>> sorted(df.groupBy(df.name).avg().collect())
 |      [Row(name='Alice', avg(age)=2.0), Row(name='Bob', avg(age)=5.0)]
 |      >>> sorted(df.groupBy(['name', df.age]).count().collect())
 |      [Row(name='Alice', age=2, count=1), Row(name='Bob', age=5, count=1)]
 |
 |      .. versionadded:: 1.3
 |
 |  groupby = groupBy(self, *cols)
 |      :func:`groupby` is an alias for :func:`groupBy`.
 |
 |      .. versionadded:: 1.4
 |
 |  head(self, n=None)
 |      Returns the first ``n`` rows.
 |
 |      Note that this method should only be used if the resulting array is expected
 |      to be small, as all the data is loaded into the driver's memory.
 |
 |      :param n: int, default 1. Number of rows to return.
 |      :return: If n is greater than 1, return a list of :class:`Row`.
 |          If n is 1, return a single Row.
 |
 |      >>> df.head()
 |      Row(age=2, name='Alice')
 |      >>> df.head(1)
 |      [Row(age=2, name='Alice')]
 |
 |      .. versionadded:: 1.3
 |
 |  intersect(self, other)
 |      Return a new :class:`DataFrame` containing rows only in
 |      both this frame and another frame.
 |
 |      This is equivalent to `INTERSECT` in SQL.
 |
 |      .. versionadded:: 1.3
 |
 |  isLocal(self)
 |      Returns ``True`` if the :func:`collect` and :func:`take` methods can be run locally
 |      (without any Spark executors).
 |
 |      .. versionadded:: 1.3
 |
 |  join(self, other, on=None, how=None)
 |      Joins with another :class:`DataFrame`, using the given join expression.
 |
 |      :param other: Right side of the join
 |      :param on: a string for the join column name, a list of column names,
 |          a join expression (Column), or a list of Columns.
 |          If `on` is a string or a list of strings indicating the name of the join column(s),
 |          the column(s) must exist on both sides, and this performs an equi-join.
 |      :param how: str, default 'inner'.
 |          One of `inner`, `outer`, `left_outer`, `right_outer`, `leftsemi`.
 |
 |      The following performs a full outer join between ``df1`` and ``df2``.
 |

How many partitions will the DataFrame be split into?

In [28]:
dataDF.rdd.getNumPartitions()

2

In [29]:
help(dataDF.rdd.getNumPartitions)

Help on method getNumPartitions in module pyspark.rdd:

getNumPartitions() method of pyspark.rdd.RDD instance
    Returns the number of partitions in RDD

    >>> rdd = sc.parallelize([1, 2, 3, 4], 2)
    >>> rdd.getNumPartitions()
    2

###### A note about DataFrames and queries

When you use DataFrames or Spark SQL, you are building up a _**query plan**_(查询计划). Each transformation you apply to a DataFrame adds some information to the query plan. When you finally call an action, which triggers execution of your **Spark job**, several things happen:

1. Spark's Catalyst optimizer analyzes the query plan (called an _unoptimized logical query plan_未经优化的逻辑查询计划) and attempts to optimize it. Optimizations include (but aren't limited to) rearranging and combining(重新排列和组合) `filter()` operations for efficiency, converting `Decimal` operations to more efficient long integer operations, and pushing some operations down into the data source (e.g., a `filter()` operation might be translated to a SQL `WHERE` clause, if the data source is a traditional SQL RDBMS). The result of this optimization phase(优化阶段) is an _optimized logical plan_(优化的逻辑计划).
2. Once Catalyst has an optimized logical plan, it then constructs multiple _physical_ plans from it. Specifically, it implements the query in terms of lower level Spark RDD operations.
3. Catalyst chooses which physical plan to use via _cost optimization_(成本最优化). That is, it determines which physical plan is the most efficient (or least expensive), and uses that one.
4. Finally, once the physical RDD execution plan is established, Spark actually executes the job.

You can examine the query plan using the `explain()` function on a DataFrame. By default, `explain()` only shows you the final physical plan; however, if you pass it an argument of `True`, it will show you all phases(所有的解析过程).

(If you want to take a deeper dive into how Catalyst optimizes DataFrame queries, this blog post, while a little old, is an excellent overview: [Deep Dive into Spark SQL's Catalyst Optimizer](https://databricks.com/blog/2015/04/13/deep-dive-into-spark-sqls-catalyst-optimizer.html).)

Let's add a couple transformations to our DataFrame and look at the query plan on the resulting transformed DataFrame. Don't be too concerned if it looks like gibberish(胡言乱语；快速而不清楚的言语). As you gain more experience with Apache Spark, you'll begin to be able to use `explain()` to help you understand more about your DataFrame operations.

In [30]:
newDF = dataDF.distinct().select('*')
newDF.explain(True)

== Parsed Logical Plan ==
'Project [*]
+- Aggregate [last_name#0, first_name#1, ssn#2, occupation#3, age#4L], [last_name#0, first_name#1, ssn#2, occupation#3, age#4L]
   +- LogicalRDD [last_name#0, first_name#1, ssn#2, occupation#3, age#4L]

== Analyzed Logical Plan ==
last_name: string, first_name: string, ssn: string, occupation: string, age: bigint
Project [last_name#0, first_name#1, ssn#2, occupation#3, age#4L]
+- Aggregate [last_name#0, first_name#1, ssn#2, occupation#3, age#4L], [last_name#0, first_name#1, ssn#2, occupation#3, age#4L]
   +- LogicalRDD [last_name#0, first_name#1, ssn#2, occupation#3, age#4L]

== Optimized Logical Plan ==
Aggregate [last_name#0, first_name#1, ssn#2, occupation#3, age#4L], [last_name#0, first_name#1, ssn#2, occupation#3, age#4L]
+- LogicalRDD [last_name#0, first_name#1, ssn#2, occupation#3, age#4L]

== Physical Plan ==
*HashAggregate(keys=[last_name#0, first_name#1, ssn#2, occupation#3, age#4L], functions=[], output=[last_name#0, first_name#1, ssn#2, occupation#3, age#4L])
+- Exchange hashpartitioning(last_name#0, first_name#1, ssn#2, occupation#3, age#4L, 200)
   +- *HashAggregate(keys=[last_name#0, first_name#1, ssn#2, occupation#3, age#4L], functions=[], output=[last_name#0, first_name#1, ssn#2, occupation#3, age#4L])
      +- Scan ExistingRDD[last_name#0,first_name#1,ssn#2,occupation#3,age#4L]

### (3c): Subtract one from each value using _select_

So far, we've created a distributed DataFrame that is split into many partitions, where each partition is stored on a single machine in our cluster.  Let's look at what happens when we do a basic operation on the dataset.  Many useful data analysis operations can be specified as "do something to each item in the dataset".  These data-parallel operations are convenient because each item in the dataset can be processed individually: the operation on one entry doesn't effect the operations on any of the other entries.  Therefore, Spark can parallelize the operation.

One of the most common DataFrame operations is `select()`, and it works more or less like a SQL `SELECT` statement: You can select specific columns from the DataFrame, and you can even use `select()` to create _new_ columns with values that are derived from existing column values. We can use `select()` to create a new column that decrements the value of the existing `age` column.

**`select()` is a _transformation_. It returns a new DataFrame that captures both the previous DataFrame and the operation to add to the query (`select`, in this case). But it does *not* actually execute anything on the cluster. When transforming DataFrames, we are building up a _query plan_. That query plan will be optimized, implemented (in terms of RDDs), and executed by Spark _only_ when we call an action.**

In [31]:
# Transform dataDF through a select transformation and rename the newly created '(age -1)' column to 'age'
# Because select is a transformation and Spark uses lazy evaluation, no jobs, stages,
# or tasks will be launched when we run this code.
subDF = dataDF.select('last_name', 'first_name', 'ssn', 'occupation', (dataDF.age - 1).alias('age'))

Let's take a look at the query plan.

In [32]:
subDF.explain(True)

== Parsed Logical Plan ==
'Project [unresolvedalias('last_name, None), unresolvedalias('first_name, None), unresolvedalias('ssn, None), unresolvedalias('occupation, None), (age#4L - 1) AS age#19]
+- LogicalRDD [last_name#0, first_name#1, ssn#2, occupation#3, age#4L]

== Analyzed Logical Plan ==
last_name: string, first_name: string, ssn: string, occupation: string, age: bigint
Project [last_name#0, first_name#1, ssn#2, occupation#3, (age#4L - cast(1 as bigint)) AS age#19L]
+- LogicalRDD [last_name#0, first_name#1, ssn#2, occupation#3, age#4L]

== Optimized Logical Plan ==
Project [last_name#0, first_name#1, ssn#2, occupation#3, (age#4L - 1) AS age#19L]
+- LogicalRDD [last_name#0, first_name#1, ssn#2, occupation#3, age#4L]

== Physical Plan ==
*Project [last_name#0, first_name#1, ssn#2, occupation#3, (age#4L - 1) AS age#19L]
+- Scan ExistingRDD[last_name#0,first_name#1,ssn#2,occupation#3,age#4L]

### (3d) Use _collect_ to view results

<img src="http://spark-mooc.github.io/web-assets/images/cs105x/diagram-3d.png" style="height:700px;float:right"/>

To see a list of elements decremented by one, we need to create a new list on the driver from the the data distributed in the executor nodes.  To do this we can call the `collect()` method on our DataFrame.  `collect()` is often used after transformations to **ensure that we are only returning a *small* amount of data to the driver.  This is done because the data returned to the driver must fit into the driver's available memory.  If not, the driver will crash**.

The `collect()` method is the first action operation that we have encountered.  Action operations cause Spark to perform the (lazy) transformation operations that are required to compute the values returned by the action.  In our example, this means that tasks will now be launched to perform the **`createDataFrame`**,** `select`**, and **`collect`** operations.

In the diagram, the dataset is broken into four partitions, so four `collect()` tasks are launched. Each task collects the entries in its partition and sends the result to the driver, which creates a list of the values, as shown in the figure below.

Now let's run `collect()` on `subDF`.

In [33]:
# Let's collect the data
results = subDF.collect()
print(results)

[Row(last_name='Brown', first_name='Jason', ssn='182-83-5988', occupation='Community education officer', age=1), Row(last_name='Brown', first_name='Cody', ssn='298-53-9877', occupation='Financial planner', age=19), Row(last_name='Griffin', first_name='Sandra', ssn='175-58-0111', occupation='Community education officer', age=10), Row(last_name='Wyatt', first_name='David', ssn='270-76-3455', occupation='Teaching laboratory technician', age=24), Row(last_name='George', first_name='Daniel', ssn='200-38-3837', occupation='Medical illustrator', age=18), Row(last_name='Rogers', first_name='Barry', ssn='634-25-3185', occupation='Market researcher', age=30), Row(last_name='Foster', first_name='Morgan', ssn='464-88-6116', occupation='Production assistant, radio', age=39), Row(last_name='Hansen', first_name='John', ssn='773-12-5058', occupation='Armed forces logistics/support/administrative officer', age=42), Row(last_name='Rice', first_name='Derek', ssn='054-51-9007', occupation='Presenter, broadcasting', age=23), Row(last_name='Little', first_name='Cheryl', ssn='725-70-4549', occupation='Broadcast journalist', age=41), Row(last_name='Peters', first_name='Leah', ssn='826-58-6908', occupation='Therapist, sports', age=8), Row(last_name='Simon', first_name='Logan', ssn='062-37-6157', occupation='Horticulturist, commercial', age=31), Row(last_name='Bennett', first_name='Krystal', ssn='308-43-0932', occupation='Engineer, communications', age=24), Row(last_name='Burke', first_name='Kelly', ssn='299-52-4282', occupation='Aeronautical engineer', age=4), Row(last_name='Robinson', first_name='Paige', ssn='212-42-9151', occupation='Communications engineer', age=7), Row(last_name='Aaron', first_name='Mr.', ssn='631-15-3272', occupation='Charity fundraiser', age=36), Row(last_name='Carter', first_name='Bradley', ssn='750-85-4885', occupation='Building surveyor', age=35), Row(last_name='Lyons', first_name='Chris', ssn='795-90-8059', occupation='Chartered loss adjuster', age=35), Row(last_name='Gregory', first_name='Stephanie', ssn='800-68-1097', occupation='Editor, commissioning', age=10), Row(last_name='Blair', first_name='Emily', ssn='528-14-5681', occupation='Chartered loss adjuster', age=2), Row(last_name='Young', first_name='Sherri', ssn='366-97-6486', occupation='Multimedia specialist', age=45), Row(last_name='Patterson', first_name='Bobby', ssn='063-74-9852', occupation='Land', age=21), Row(last_name='Weeks', first_name='Sean', ssn='414-34-0858', occupation='Forensic psychologist', age=45), Row(last_name='Richardson', first_name='Heather', ssn='046-51-7020', occupation='Drilling engineer', age=20), Row(last_name='Parsons', first_name='Craig', ssn='271-23-7752', occupation='Equality and diversity officer', age=35), Row(last_name='Wallace', first_name='Sabrina', ssn='092-13-4391', occupation='Furniture conservator/restorer', age=34), Row(last_name='Johnson', first_name='Sherry', ssn='665-96-8949', occupation='Psychologist, counselling', age=31), Row(last_name='Fisher', first_name='Steven', ssn='898-49-3926', occupation='Advertising account planner', age=2), Row(last_name='Hill', first_name='Tanya', ssn='644-05-1087', occupation='Runner, broadcasting/film/video', age=0), Row(last_name='Singleton', first_name='Brittney', ssn='296-98-1289', occupation='Counselling psychologist', age=6), Row(last_name='Bishop', first_name='Joyce', ssn='706-87-4666', occupation='Intelligence analyst', age=40), Row(last_name='Smith', first_name='Brandon', ssn='780-25-1953', occupation='Geoscientist', age=6), Row(last_name='Robert', first_name='Dr.', ssn='138-38-8579', occupation='Therapist, art', age=30), Row(last_name='King', first_name='Matthew', ssn='263-65-2624', occupation='Lobbyist', age=7), Row(last_name='Spence', first_name='James', ssn='059-68-7092', occupation='Equality and diversity officer', age=19), Row(last_name='Warren', first_name='Jorge', ssn='158-70-6974', occupation='Outdoor activities/education manager', age=44), Row(last_name='Navarro', first_name='William', ssn='200-09-7607', occupation='Therapist, sports', age=5), Row(last_name='Mathis', first_name='Ana', ssn='602-42-1858', occupation='Horticulturist, amenity', age=29), Row(last_name='Williams', first_name='Ariel', ssn='124-78-7492', occupation='Electronics engineer', age=9), Row(last_name='Walker', first_name='Melissa', ssn='316-96-7323', occupation='Architectural technologist', age=28), Row(last_name='Murray', first_name='Thomas', ssn='086-10-5854', occupation='Environmental consultant', age=45), Row(last_name='Mendoza', first_name='Richard', ssn='633-23-0309', occupation='Food technologist', age=12), Row(last_name='Parker', first_name='Jennifer', ssn='155-14-2184', occupation='Retail buyer', age=13), Row(last_name='Barnes', first_name='Timothy', ssn='588-13-3424', occupation='Furniture designer', age=38), Row(last_name='George', first_name='Raymond', ssn='004-76-6251', occupation='Illustrator', age=38), Row(last_name='Rodgers', first_name='Beverly', ssn='763-73-4799', occupation='Warden/ranger', age=38), Row(last_name='Ford', first_name='Brandon', ssn='394-52-7614', occupation='Designer, graphic', age=10), Row(last_name='Le', first_name='Amber', ssn='458-94-6667', occupation='Engineer, mining', age=18), Row(last_name='Burns', first_name='Roy', ssn='200-09-8924', occupation='Engineer, chemical', age=15), Row(last_name='Fowler', first_name='Brittany', ssn='890-36-5878', occupation='Occupational psychologist', age=38), Row(last_name='Watts', first_name='Joseph', ssn='257-82-4843', occupation='Location manager', age=32), Row(last_name='Grant', first_name='David', ssn='261-56-2644', occupation='Engineer, energy', age=30), Row(last_name='Nguyen', first_name='Martha', ssn='061-06-6606', occupation='Sports coach', age=40), Row(last_name='Williams', first_name='Wesley', ssn='416-16-1106', occupation='Teacher, adult education', age=39), Row(last_name='Parsons', first_name='Michael', ssn='304-93-2898', occupation='Technical brewer', age=37), Row(last_name='Ryan', first_name='Christopher', ssn='385-53-9579', occupation='Lawyer', age=9), Row(last_name='Johnson', first_name='Megan', ssn='028-72-8991', occupation='IT trainer', age=7), Row(last_name='Oneal', first_name='Linda', ssn='766-04-5107', occupation='Conference centre manager', age=44), Row(last_name='Ellis', first_name='Cheyenne', ssn='820-20-0445', occupation='Public house manager', age=27), Row(last_name='Garcia', first_name='Danielle', ssn='717-05-1050', occupation='Financial adviser', age=10), Row(last_name='Clark', first_name='Keith', ssn='155-61-3261', occupation='Glass blower/designer', age=19), Row(last_name='Hunt', first_name='Logan', ssn='134-48-1868', occupation='Data processing manager', age=4), Row(last_name='Miller', first_name='Cindy', ssn='003-94-0003', occupation='Merchandiser, retail', age=42), Row(last_name='Young', first_name='Thomas', ssn='746-57-3882', occupation='Energy manager', age=18), Row(last_name='Peterson', first_name='Michelle', ssn='441-95-6713', occupation='Programmer, multimedia', age=31), Row(last_name='Valencia', first_name='Christina', ssn='293-28-6195', occupation='Surveyor, land/geomatics', age=43), Row(last_name='Hall', first_name='Joseph', ssn='712-61-2407', occupation='Purchasing manager', age=45), Row(last_name='Duncan', first_name='Alex', ssn='191-54-1821', occupation='Scientist, research (physical sciences)', age=19), Row(last_name='Johnston', first_name='Crystal', ssn='727-29-8344', occupation='Hydrographic surveyor', age=33), Row(last_name='Bailey', first_name='Ronnie', ssn='315-33-0982', occupation='Data processing manager', age=35), Row(last_name='Boyle', first_name='Kathryn', ssn='670-94-1318', occupation='Agricultural engineer', age=30), Row(last_name='Harris', first_name='Calvin', ssn='525-14-8832', occupation='Musician', age=16), Row(last_name='Clark', first_name='Megan', ssn='592-99-2891', occupation='Wellsite geologist', age=7), Row(last_name='Walker', first_name='Joseph', ssn='090-74-7348', occupation='Occupational therapist', age=13), Row(last_name='Blevins', first_name='Amy', ssn='495-91-8267', occupation='Programmer, multimedia', age=8), Row(last_name='Vargas', first_name='Jason', ssn='525-18-9888', occupation='Homeopath', age=38), Row(last_name='Lee', first_name='Jason', ssn='233-19-7038', occupation='Human resources officer', age=44), Row(last_name='Mays', first_name='Edgar', ssn='128-90-3792', occupation='Heritage manager', age=25), Row(last_name='Terrell', first_name='Stacy', ssn='538-89-2272', occupation='Teacher, music', age=29), Row(last_name='Schroeder', first_name='David', ssn='046-68-6425', occupation='Electrical engineer', age=41), Row(last_name='Steven', first_name='Mr.', ssn='482-03-4239', occupation='Architectural technologist', age=26), Row(last_name='Waters', first_name='Erin', ssn='250-89-3339', occupation='Operational researcher', age=21), Row(last_name='Robinson', first_name='Jessica', ssn='247-36-1191', occupation='Hydrogeologist', age=5), Row(last_name='Martinez', first_name='Patrick', ssn='123-13-3579', occupation='Advertising account executive', age=5), Row(last_name='Palmer', first_name='Jeffrey', ssn='593-60-2532', occupation='Programmer, systems', age=15), Row(last_name='Chavez', first_name='Tom', ssn='861-86-7135', occupation='Technical sales engineer', age=17), Row(last_name='Morales', first_name='Kendra', ssn='773-23-3100', occupation='Newspaper journalist', age=0), Row(last_name='Joseph', first_name='Ebony', ssn='660-46-8638', occupation='Media buyer', age=34), Row(last_name='Rodriguez', first_name='Jared', ssn='466-45-7301', occupation='Network engineer', age=46), Row(last_name='Dean', first_name='Sarah', ssn='611-87-2040', occupation='Industrial buyer', age=16), Row(last_name='Cruz', first_name='Lisa', ssn='058-92-8829', occupation='Legal executive', age=19), Row(last_name='Simmons', first_name='Teresa', ssn='350-62-8678', occupation='Journalist, newspaper', age=32), Row(last_name='Ochoa', first_name='Ann', ssn='328-59-6528', occupation='Development worker, international aid', age=15), Row(last_name='Scott', first_name='Michael', ssn='534-04-9753', occupation='Chartered legal executive (England and Wales)', age=28), Row(last_name='Evans', first_name='Robert', ssn='449-09-1633', occupation='Dentist', age=26), Row(last_name='Deleon', first_name='Tyrone', ssn='404-69-6998', occupation='Emergency planning/management officer', age=25), Row(last_name='Delgado', first_name='Sonia', ssn='323-45-9560', occupation='Sales professional, IT', age=27), Row(last_name='Davis', first_name='Shannon', ssn='517-20-4894', occupation='Sports therapist', age=13), Row(last_name='Smith', first_name='Patty', ssn='196-49-0739', occupation='Estate agent', age=3), Row(last_name='Gomez', first_name='Sheri', ssn='436-05-6057', occupation='Research scientist (maths)', age=1), Row(last_name='Henson', first_name='Matthew', ssn='164-27-0683', occupation='Patent attorney', age=28), Row(last_name='Robinson', first_name='Adam', ssn='317-86-9191', occupation='Telecommunications researcher', age=35), Row(last_name='Sanders', first_name='Mary', ssn='828-59-9193', occupation='Corporate investment banker', age=35), Row(last_name='Brown', first_name='Tyler', ssn='847-96-7409', occupation='Trade mark attorney', age=20), Row(last_name='Hess', first_name='Dawn', ssn='205-78-0336', occupation='Surveyor, insurance', age=19), Row(last_name='Vargas', first_name='Joel', ssn='369-28-8434', occupation='Surveyor, building', age=27), Row(last_name='Perry', first_name='Zachary', ssn='892-56-4652', occupation='Educational psychologist', age=3), Row(last_name='Holmes', first_name='Joseph', ssn='115-42-4076', occupation='Advertising art director', age=41), Row(last_name='Brewer', first_name='Angela', ssn='488-78-4241', occupation='Trade union research officer', age=35), Row(last_name='Wilson', first_name='Nicolas', ssn='299-23-7233', occupation='Logistics and distribution manager', age=32), Row(last_name='Pena', first_name='Crystal', ssn='094-63-4387', occupation='Exhibitions officer, museum/gallery', age=28), Row(last_name='Long', first_name='Alison', ssn='847-66-9929', occupation='Records manager', age=26), Row(last_name='Cook', first_name='Matthew', ssn='062-06-5702', occupation='Chartered public finance accountant', age=23), Row(last_name='Valencia', first_name='Alicia', ssn='312-79-9442', occupation='Retail banker', age=10), Row(last_name='Garcia', first_name='Jamie', ssn='881-06-8519', occupation='Horticulturist, commercial', age=36), Row(last_name='Wang', first_name='Steven', ssn='182-19-8546', occupation='Secretary/administrator', age=25), Row(last_name='Cervantes', first_name='James', ssn='493-88-2952', occupation='Librarian, academic', age=17), Row(last_name='Chen', first_name='Anthony', ssn='203-32-2098', occupation='Engineer, electronics', age=16), Row(last_name='Jones', first_name='Mary', ssn='319-27-2359', occupation='Midwife', age=46), Row(last_name='Simon', first_name='Carolyn', ssn='080-30-7534', occupation='Hydrologist', age=46), Row(last_name='Cobb', first_name='Alice', ssn='446-28-8480', occupation='Engineer, chemical', age=20), Row(last_name='Dickson', first_name='Joseph', ssn='739-66-3307', occupation='Agricultural consultant', age=11), Row(last_name='Hancock', first_name='Jaime', ssn='772-14-2343', occupation='Private music teacher', age=16), Row(last_name='Clayton', first_name='Richard', ssn='341-98-0537', occupation='Engineer, chemical', age=20), Row(last_name='Allen', first_name='Rebecca', ssn='123-75-7691', occupation='Geophysicist/field seismologist', age=16), Row(last_name='Giles', first_name='Shannon', ssn='654-33-1201', occupation='Pensions consultant', age=41), Row(last_name='Ramirez', first_name='Daniel', ssn='183-19-0892', occupation='Engineer, communications', age=37), Row(last_name='Goodwin', first_name='Kelli', ssn='281-32-9098', occupation='Designer, graphic', age=9), Row(last_name='Perez', first_name='Karen', ssn='142-89-5887', occupation='Fashion designer', age=10), Row(last_name='Morales', first_name='Larry', ssn='245-69-2589', occupation='Diagnostic radiographer', age=37), Row(last_name='Ray', first_name='Diane', ssn='225-05-1850', occupation='Engineer, water', age=15), Row(last_name='Harris', first_name='Brendan', ssn='615-72-7770', occupation='Forest/woodland manager', age=23), Row(last_name='Vargas', first_name='Rodney', ssn='555-65-6608', occupation='Engineer, energy', age=29), Row(last_name='Johnson', first_name='Christian', ssn='876-81-1489', occupation='Pharmacist, community', age=1), Row(last_name='Johnson', first_name='Margaret', ssn='264-94-6236', occupation='Therapist, horticultural', age=32), Row(last_name='Carter', first_name='Mary', ssn='542-01-1615', occupation='Buyer, industrial', age=14), Row(last_name='Jones', first_name='Christopher', ssn='869-71-2142', occupation='Mental health nurse', age=20), Row(last_name='Olsen', first_name='Curtis', ssn='647-48-6353', occupation='Commercial/residential surveyor', age=36), Row(last_name='Watson', first_name='Amanda', ssn='560-35-2801', occupation='Health physicist', age=5), Row(last_name='King', first_name='Jennifer', ssn='375-20-0073', occupation='Armed forces logistics/support/administrative officer', age=36), Row(last_name='Petty', first_name='Stacie', ssn='745-24-0140', occupation='Advice worker', age=33), Row(last_name='Ramos', first_name='George', ssn='414-16-6828', occupation='Midwife', age=26), Row(last_name='Long', first_name='Alex', ssn='679-33-4028', occupation='Surveyor, rural practice', age=2), Row(last_name='Cole', first_name='Cynthia', ssn='611-12-4910', occupation='Conservator, furniture', age=41), Row(last_name='Williams', first_name='Sheryl', ssn='525-82-1991', occupation='Emergency planning/management officer', age=41), Row(last_name='Buchanan', first_name='Monique', ssn='064-86-9793', occupation='Fine artist', age=45), Row(last_name='Davis', first_name='Richard', ssn='494-14-6588', occupation='Surveyor, land/geomatics', age=39), Row(last_name='Steele', first_name='Megan', ssn='191-99-1465', occupation='Financial planner', age=27), Row(last_name='Gonzalez', first_name='Alexis', ssn='367-39-9478', occupation='Designer, graphic', age=39), Row(last_name='Graves', first_name='Mary', ssn='889-44-0516', occupation='Psychologist, educational', age=5), Row(last_name='Gibson', first_name='Adam', ssn='887-57-4722', occupation='Charity fundraiser', age=23), Row(last_name='Williams', first_name='Sandy', ssn='899-19-7343', occupation='Industrial/product designer', age=21), Row(last_name='Stafford', first_name='Daniel', ssn='403-79-9726', occupation='Hydrologist', age=10), Row(last_name='Ochoa', first_name='Evelyn', ssn='757-56-8374', occupation='Designer, fashion/clothing', age=40), Row(last_name='White', first_name='Alyssa', ssn='739-36-7833', occupation='Materials engineer', age=18), Row(last_name='Montes', first_name='Brian', ssn='562-81-0505', occupation='Intelligence analyst', age=36), Row(last_name='Roberts', first_name='Scott', ssn='294-81-1683', occupation='Teacher, adult education', age=5), Row(last_name='Schwartz', first_name='Elizabeth', ssn='850-96-3688', occupation='Engineer, building services', age=36), Row(last_name='Mills', first_name='Gary', ssn='224-81-8228', occupation='Youth worker', age=6), Row(last_name='Haynes', first_name='Daniel', ssn='762-33-4277', occupation='Trading standards officer', age=23), Row(last_name='Abbott', first_name='James', ssn='140-45-0349', occupation='Regulatory affairs officer', age=32), Row(last_name='Frederick', first_name='Anthony', ssn='692-67-1083', occupation='Counsellor', age=42), Row(last_name='Moody', first_name='Joshua', ssn='306-23-3056', occupation='Teacher, special educational needs', age=1), Row(last_name='Martin', first_name='Robert', ssn='354-01-7946', occupation='Engineer, land', age=22), Row(last_name='Greer', first_name='Amber', ssn='403-01-7565', occupation='Intelligence analyst', age=9), Row(last_name='Simmons', first_name='Ashley', ssn='804-68-5539', occupation='Musician', age=15), Row(last_name='Rivera', first_name='Justin', ssn='418-30-0458', occupation='Designer, industrial/product', age=25), Row(last_name='Gallegos', first_name='Jorge', ssn='515-22-1714', occupation='Physiotherapist', age=30), Row(last_name='Marsh', first_name='Destiny', ssn='638-33-5782', occupation='Designer, textile', age=14), Row(last_name='Smith', first_name='Edward', ssn='527-98-9855', occupation='Engineering geologist', age=33), Row(last_name='Wilson', first_name='Laura', ssn='392-77-6499', occupation='Fine artist', age=20), Row(last_name='Moore', first_name='Jason', ssn='485-69-9746', occupation='Museum education officer', age=45), Row(last_name='Boyle', first_name='Mallory', ssn='057-63-9453', occupation='Fashion designer', age=6), Row(last_name='Yates', first_name='Laura', ssn='085-13-5113', occupation='Product/process development scientist', age=15), Row(last_name='Miller', first_name='Sonya', ssn='213-45-7548', occupation='Higher education careers adviser', age=45), Row(last_name='Alex', first_name='Mr.', ssn='531-77-4688', occupation='Industrial/product designer', age=18), Row(last_name='Watkins', first_name='Isaac', ssn='795-31-5815', occupation='Health physicist', age=1), Row(last_name='Dillon', first_name='Jill', ssn='035-27-3786', occupation='Logistics and distribution manager', age=35), Row(last_name='Freeman', first_name='Paul', ssn='205-37-7383', occupation='Education officer, environmental', age=37), Row(last_name='French', first_name='Charles', ssn='242-45-5478', occupation='Quantity surveyor', age=7), Row(last_name='Silva', first_name='Oscar', ssn='327-35-9890', occupation='Clinical research associate', age=40), Row(last_name='Hicks', first_name='Cory', ssn='417-46-9304', occupation='Local government officer', age=39), Row(last_name='Barajas', first_name='Nina', ssn='788-49-0873', occupation='Engineer, civil (contracting)', age=39), Row(last_name='Melissa', first_name='Mrs.', ssn='782-32-2830', occupation='Lighting technician, broadcasting/f

### (3f) Apply transformation _filter_ and view results with _collect_

Next, we'll create a new DataFrame that only contains the people whose ages are less than 10. To do this, we'll use the **`filter()`** transformation. (You can also use `where()`, an alias for `filter()`, if you prefer something more SQL-like). The `filter()` method is a transformation operation that creates a new DataFrame from the input DataFrame, keeping only values that match the filter expression.

The figure shows how this might work on the small four-partition dataset.

<img src="http://spark-mooc.github.io/web-assets/images/cs105x/diagram-3f.png" style="height:700px;float:right"/>

To view the filtered list of elements less than 10, we need to create a new list on the driver from the distributed data on the executor nodes.  We use the `collect()` method to return a list that contains all of the elements in this filtered DataFrame to the driver program.

In [34]:
filteredDF = subDF.filter(subDF.age < 10)
filteredDF.show(truncate=False)
filteredDF.count()

+---------+-----------+-----------+-------------------------------+---+
|last_name|first_name |ssn        |occupation                     |age|
+---------+-----------+-----------+-------------------------------+---+
|Brown    |Jason      |182-83-5988|Community education officer    |1  |
|Peters   |Leah       |826-58-6908|Therapist, sports              |8  |
|Burke    |Kelly      |299-52-4282|Aeronautical engineer          |4  |
|Robinson |Paige      |212-42-9151|Communications engineer        |7  |
|Blair    |Emily      |528-14-5681|Chartered loss adjuster        |2  |
|Fisher   |Steven     |898-49-3926|Advertising account planner    |2  |
|Hill     |Tanya      |644-05-1087|Runner, broadcasting/film/video|0  |
|Singleton|Brittney   |296-98-1289|Counselling psychologist       |6  |
|Smith    |Brandon    |780-25-1953|Geoscientist                   |6  |
|King     |Matthew    |263-65-2624|Lobbyist                       |7  |
|Navarro  |William    |200-09-7607|Therapist, sports              |5  |
|Williams |Ariel      |124-78-7492|Electronics engineer           |9  |
|Ryan     |Christopher|385-53-9579|Lawyer                         |9  |
|Johnson  |Megan      |028-72-8991|IT trainer                     |7  |
|Hunt     |Logan      |134-48-1868|Data processing manager        |4  |
|Clark    |Megan      |592-99-2891|Wellsite geologist             |7  |
|Blevins  |Amy        |495-91-8267|Programmer, multimedia         |8  |
|Robinson |Jessica    |247-36-1191|Hydrogeologist                 |5  |
|Martinez |Patrick    |123-13-3579|Advertising account executive  |5  |
|Morales  |Kendra     |773-23-3100|Newspaper journalist           |0  |
+---------+-----------+-----------+-------------------------------+---+
only showing top 20 rows

2049

(These are some seriously precocious children...)

## Part 4: Python Lambda functions and User Defined Functions

Python supports the use of small one-line **anonymous functions** that are not bound to a name at runtime.

`lambda` functions, borrowed from(借用了)LISP(全名LIStProcessor,即表处理语言), can be used wherever function objects are required. They are syntactically(在语法上)restricted to a single expression. Remember that `lambda` functions are **a matter of style** and using them is never required - semantically(语义上), they are just **syntactic sugar** for a normal function definition. You can always define a separate normal function instead, but using a `lambda` function is an equivalent and more compact(紧凑型,简洁的) form of coding. Ideally you should consider using `lambda` functions where you want to encapsulate non-reusable(不可重用的) code without littering your code with one-line functions.

Here, instead of defining a separate function for the `filter()` transformation, we will use an inline `lambda()` function and we will register that lambda as a Spark _User Defined Function_ (UDF). A UDF is a special **wrapper** around a function, allowing the function to be used in a DataFrame query.

In [37]:
from pyspark.sql.types import BooleanType
from pyspark.sql.functions import udf
less_ten = udf(lambda s: s < 10, BooleanType())
lambdaDF = subDF.filter(less_ten(subDF.age))
lambdaDF.show(truncate=False)
lambdaDF.count()

+---------+-----------+-----------+-------------------------------+---+
|last_name|first_name |ssn        |occupation                     |age|
+---------+-----------+-----------+-------------------------------+---+
|Brown    |Jason      |182-83-5988|Community education officer    |1  |
|Peters   |Leah       |826-58-6908|Therapist, sports              |8  |
|Burke    |Kelly      |299-52-4282|Aeronautical engineer          |4  |
|Robinson |Paige      |212-42-9151|Communications engineer        |7  |
|Blair    |Emily      |528-14-5681|Chartered loss adjuster        |2  |
|Fisher   |Steven     |898-49-3926|Advertising account planner    |2  |
|Hill     |Tanya      |644-05-1087|Runner, broadcasting/film/video|0  |
|Singleton|Brittney   |296-98-1289|Counselling psychologist       |6  |
|Smith    |Brandon    |780-25-1953|Geoscientist                   |6  |
|King     |Matthew    |263-65-2624|Lobbyist                       |7  |
|Navarro  |William    |200-09-7607|Therapist, sports              |5  |
|Williams |Ariel      |124-78-7492|Electronics engineer           |9  |
|Ryan     |Christopher|385-53-9579|Lawyer                         |9  |
|Johnson  |Megan      |028-72-8991|IT trainer                     |7  |
|Hunt     |Logan      |134-48-1868|Data processing manager        |4  |
|Clark    |Megan      |592-99-2891|Wellsite geologist             |7  |
|Blevins  |Amy        |495-91-8267|Programmer, multimedia         |8  |
|Robinson |Jessica    |247-36-1191|Hydrogeologist                 |5  |
|Martinez |Patrick    |123-13-3579|Advertising account executive  |5  |
|Morales  |Kendra     |773-23-3100|Newspaper journalist           |0  |
+---------+-----------+-----------+-------------------------------+---+
only showing top 20 rows

2049